<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")  %>

<body>
    <%- include("./partials/nav.ejs")  %>

    <div class="container mt-5 text-info">
        This is just a module that can be integrated into a bigger project . This module essentially used to upload images to server and render it to the browser.
    For now, it only uploads one picture at a time but it will have a multiple image upload feature in future.
    </div>

    <%- include("./partials/bootstrapScripts.ejs")  %>
</body>

</html>