<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs")  %> 
<body>
    <%- include("./partials/nav.ejs")  %>

    <div class="container d-flex justify-content-center">

        <form action="/upload" method="POST" enctype="multipart/form-data">
            
            <h2 class="mt-5">Welcome to image uploader</h2>
            <div class="form-group mt-5">
                <label for="caption">Add caption</label>
                <input type="text" class="form-control" id="caption" name="caption">
            </div>

            <div class="custom-file w-30">
                <input type="file" name="photo" class="custom-file-input" id="photo">
                <label class="custom-file-label" for="photo">Choose image file</label>
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </div>
        </form>
    </div>

    <%- include("./partials/bootstrapScripts.ejs")  %> 
</body>

</html>